$bcolor: #3A68B8;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #08101e;
}

.header {
    background-color: #0a121f;
    height: 100px;
    display: flex;
}

.container {
    width: 1146 px;
    margin: 0 auto;
}

.menu_link {
    font-family: 'Open Sans';
    text-decoration: none;
    color: #FFFFFF;
    font-size: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 40px 20px;
}

.title3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: $bcolor;
    margin-top: 160px;
    margin-bottom: 10px;
}

.main_heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.main_dc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 50px;
}

.index_button {
    font-family: 'Open Sans';
    padding: 15px 30px;
    gap: 10px;
    background: $bcolor;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 197px;
}

.index_button:hover {
	background: #FFFFFF;
	color: $bcolor;
	border: 3px solid  $bcolor;
}

.header_menu {
    display: flex;
    justify-content: center;
}

.content_left {
    width: 604px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    margin-bottom: 100px;
}

.image {
    margin-top: 160px;
    margin-left: 128px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 35.5px;
    position: absolute;
    left: 387px;
    top: 872px;
}

.image_2 {
    margin-top: 256px;
}

.main_heading_2 {
    margin-top: 629px;
    margin-left: 68px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;   
}

.button_2 {
    margin-top: 50px;
    margin-left: 68px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;
    background: $bcolor;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.button_2:hover {
	background: #FFFFFF;
	color: $bcolor;
	border: 3px solid $bcolor;
}

.main_dc_2 {
    margin-top: 30px;
    margin-left: 68px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}

.grid-container_2 {
    display: grid;
    grid-template-columns: repeat(3, 362px);
    grid-template-rows: repeat(3, 389px);
    column-gap: 30px;
    row-gap: 30px;
    position: absolute;
    left: 387px;
    top: 1999px;
}

.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6 {
    background: #132035;
    border-radius: 10px;
    justify-content: center;
}

.grid-item4 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.images_2 {
    padding: 30px 132px;
}

.images_3 {
    padding: 30px 224px 60px 224px;
}

.heading_item1, .heading_item2, .heading_item3, .heading_item4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.dc_item1, .dc_item2, .dc_item3, .dc_item4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    padding: 30px;   
}

.dc_item4 {
    padding: 60px 30px 144px 30px;
}

.main_heading_3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 1748px;
}

.main_dc_3, .main_dc_4, .main_dc_5, .main_dc_6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 20px;
}

.main_dc_3 {
    margin-top: 40px;
}

.image_3 {
    margin-top: 1748px;
    margin-left: 25px;
}

.footer {
    margin-top: 221px;
    margin-bottom: 0;
    height: 250px;
    background-color: #0a121f;
    display:flex;
}

.text_1, .text_2 {
    margin-top:48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.text_3, .text_4, .text_5, .text_7 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
 .text_6 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    flex: none;
    order: 0;
    flex-grow: 0;
 }

.text_1 {
    margin-left: 88px;
    margin-right: 179px;
    width: 209px;
}

.text_2 {
    margin-right: 163px;
    width: 228px;
}

.text_3 {
    margin-top:-20px;
    margin-left: 107px;
} 

.text_4 {
    margin-top:-22px;
    margin-left: 107px;
}

.text_5 {
    margin-top:-25px;
    margin-left: 107px;
}

.text_6 {
    margin-top: 33px;
}

.text_7 {
    margin-top: 33px;
}

.footicon_1 {
    margin-right: 9px;
    margin-top: 39px;
    margin-left: 88px;
}

.footicon_2 {
    margin-right: 10px;
    margin-top: 29px;
    margin-left: 88px;
}

.footicon_3 {
    margin-right: 10px;
    margin-top: 28px;
    margin-left: 88px;
}

.footicon_4, .footicon_5, .footicon_6 {
    margin-top:24px;
    margin-right:24px;
}

.video {
    margin-top: 160px;
    margin-left: 128px;
}